.form {
  width: 100%;

  .inputMargin {
    margin-bottom: 1.5rem;
  }
}

.questionStyle {
  margin: 22px 0 5px;
  color: var(--color-light-900);
}

.underlineBtn > span {
  text-decoration: underline;
}

.forgotPassword {
  display: flex;
  justify-content: end;
  padding-bottom: 50px;
}

.rememberMe {
  //margin-top: -20px;
  //margin-bottom: -20px;
  //margin-left: -5px;
}
