.form {
  width: 100%;

  .inputMargin {
    margin-bottom: 1.5rem;
  }

  .lastInputMargin {
    margin-bottom: 3.75rem;
  }
}

.questionStyle {
  margin: 22px 0 5px;
  color: var(--color-light-900);
}

.underlineBtn {
  text-decoration: underline;
}
