.wrapperAvatar {
  .avatarEdit {
    cursor: pointer;
    user-select: none;
    position: relative;

    .avatarEditIcon {
      cursor: pointer;
      position: absolute;
      right: -12px;
      bottom: 0;
    }
  }

  .input {
    user-select: none;
    display: none;
  }
}
