.offset {
  padding-bottom: 2.5rem;

  .title {
    user-select: none;
  }

  .email {
    user-select: none;
    color: var(--color-dark-100);
  }

  .offsetBtn {
    margin-top: 13px;
  }

  .nickname {
    cursor: pointer;
    user-select: none;
    position: relative;
    margin-top: 10px;

    &::after {
      content: '';

      position: absolute;
      top: 1px;
      right: -25px;

      width: 20px;
      height: 20px;

      background: url('./img/pencel.svg') center center no-repeat;
    }
  }
}
