.answer {
  transform: translateY(100%);

  display: block;

  width: 100%;

  opacity: 0;

  transition: all 0.3s;
}

.show {
  transform: translateY(-14%);
  opacity: 1;
}

.button {
  margin: 35px 0 15px;
}
