.wrapperTitle {
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 30px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 150px;
  gap: 20px;
  align-items: end;

  .sliderFlex {
    display: grid;
    gap: 10px;
  }
}

@media (width <= 1050px) {
  .wrapperDecks {
    padding: 0 2%;
  }
}

@media (width <= 992px) {
  .wrapperDecks {
    overflow: scroll;
    padding: 0 2%;
  }

  td {
    padding: 3px 10px !important;
    word-break: inherit !important;
  }
}

@media (width <= 768px) {
  .wrapperDecks {
    overflow: scroll;
    padding: 0 2%;
  }

  .gridContainer {
    grid-template: auto / 1fr auto;
  }

  th {
    padding: 3px 10px !important;
    white-space: nowrap;
  }
}

@media (width <= 576px) {
  .gridContainer {
    grid-template: auto / 1fr;
  }

  .wrapperTitle {
    margin-top: 10px;
  }

  .tabSwitcher {
    grid-row: 3;
    margin: 0 auto;
  }
}
