.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 1280px;
  height: 60px;
  margin: 0 auto;
  padding: 0 136px;

  background-color: var(--color-dark-500);

  .linkHome {
    user-select: none;
    display: flex;
    align-items: center;

    .logo {
      cursor: pointer;
      max-height: 36px;
      transition-duration: 0.1s;

      &:hover {
        transform: translateY(2px);
      }

      &:active {
        transform: scale(0.99);
      }

      @media (width <= 575px) {
        width: 120px;
      }
    }
  }

  .info {
    display: flex;
    gap: 10px;
    align-items: center;

    .name {
      border-bottom: 2px dashed;
    }
  }

  @media (width <= 991px) {
    padding: 0 10%;
  }
}
