.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;
  height: 60px;
  margin: 0 auto;

  background-color: var(--color-dark-500);

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 1006px;
    margin: 0 auto;

    @media (width <= 1010px) {
      padding: 0 2%;
    }
  }

  .linkHome {
    user-select: none;
    display: flex;
    align-items: center;
    text-decoration: none;

    .logoContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--color-accent-500);
      text-shadow: 1px 1px 0 var(--color-light-900);

      .logo {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
          transform: translateX(-2px);
        }

        &:active {
          transform: scale(0.97);
        }

        .bracket {
          color: var(--color-light-100);
          text-shadow: none;
          transition: all 0.1s;
          animation: 3s blink infinite ease-out;
        }
      }
    }
  }

  .info {
    display: flex;
    gap: 10px;
    align-items: center;

    .name {
      border-bottom: 2px dashed;
    }
  }
}

.myProfile {
  text-decoration: none;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
