.rowFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cover {
  width: 170px;
  height: 107px;

  object-fit: scale-down;
  object-position: 0 0;
  border-radius: 2px;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;

  color: var(--color-light-100);
}
