.backLabel {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 8px;
  align-items: center;

  color: var(--color-light-100);
}

.rowFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
